.container {
    background-color: white;
    border: 2px black solid;
    display:inline-block;
    width: 200px;
}
.home-header {
    background-color: red;
    border: 1px black solid;
    display:inline-block;
    width: auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    height:100px;
    width: 100%;
}