<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css" media="screen, projection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template</title>
</head>

<body>
    <div class="home-header"> 
        <p>My Library</p>
    </div>

    <div class="container">  
        <div class="row">
            <div class="col">Home</div>
            <div class="col">Add Book</div>
            <div class="col">Remove Book</div>
            <div class="col">Register User</div>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>